{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            Freeshelf Freeshelf
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block header %}{% endblock header %}
</head>
    <a href="{% url 'book_list' %}">Home</a>
<body>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>
