{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1> HTML Books </h1>


    {% for book in html_books %}
        <h2><a href="{% url 'book_detail' slug=book.slug %}">
            {{ book.title }}
        </a></h2> 
        <a href="{% url 'book_detail' slug=book.slug %}">
        <img src="{{ book.picture.url }}"></a>
        <h3>{{ book.author }}</h3>
        <p>{{ book.description }}</p>

    
    {% endfor %}

{% endblock content %}