{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}




{% block content %}
    {% comment %} <a href="{% url 'book_suggestion' %}">Would you like to suggest a book?</a> {% endcomment %}
    <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2"> Freeshelf Freeshelf</h1>

    {% for book in books %}
        <div class="fl w-30 justify-between items-center center">
        <h2><a class="white" href="{% url 'book_detail' slug=book.slug %}">
            {{ book.title }}
        </a></h2> 
        <a class="br2" href="{% url 'book_detail' slug=book.slug %}">
        <img src="{{ book.picture.url }}"></a>
        <h3>Written by: {{ book.author }}</h3>
        <p class="f3 mid-gray lh-title">{{ book.description }}</p>
        <p>added {{ book.created_at }}</p>
        
        <p>Categories:</p>
        {% for category in book.get_categories %}
             {{ category }}
      
        {% endfor %}
    </div>  
    {% endfor %}

{% endblock content %}