{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1> Freeshelf Freeshelf </h1>
    <a href="{% url 'python' %}">Python</a>
    <a href="{% url 'css' %}">CSS</a>
    <a href="{% url 'html' %}">HTML</a>
    <a href="{% url 'javascript' %}">Javascript</a>

    {% for book in books %}
        <h2><a href="{% url 'book_detail' slug=book.slug %}">
            {{ book.title }}
        </a></h2> 
        <a href="{% url 'book_detail' slug=book.slug %}">
        <img src="{{ book.picture.url }}"></a>
        <h3>{{ book.author }}</h3>
        <p>{{ book.description }}</p>
        <p>added {{ book.created_at }}</p>
        {% for category in book.get_categories %}
             {{ category }}
        {% endfor %}
    
    {% endfor %}

{% endblock content %}