{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}



    <a class="white" href="{% url 'python' %}">Python</a>
    <a class="white" href="{% url 'css' %}">CSS</a>
    <a class="white" href="{% url 'html' %}">HTML</a>
    <a class="white" href="{% url 'javascript' %}">Javascript</a>
{% block content %}
    {% comment %} <a href="{% url 'book_suggestion' %}">Would you like to suggest a book?</a> {% endcomment %}
    <h1> Freeshelf Freeshelf </h1>
    {% for book in books %}
        <h2><a class="white" href="{% url 'book_detail' slug=book.slug %}">
            {{ book.title }}
        </a></h2> 
        <a href="{% url 'book_detail' slug=book.slug %}">
        <img src="{{ book.picture.url }}"></a>
        <h3>Written by: {{ book.author }}</h3>
        <p>{{ book.description }}</p>
        <p>added {{ book.created_at }}</p>
        {% for category in book.get_categories %}
             {{ category }}
        {% endfor %}
    
    {% endfor %}

{% endblock content %}